*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 62.5%;
}

ol,
ul {
    list-style: none;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

img {
    display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: League Spartan, sans-serif;
    font-size: 1.7rem;
    background-color: $bodybg;
}